**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

jersey/tcell
struts2-exploit/tcell
jenkins-exploit/tcell

!jersey/tcell/place_tcell_files_here
!struts2-exploit/tcell/place_tcell_files_here
!jenkins-exploit/tcell/place_tcell_files_here



# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

**/tcell-jvmagent-*.tar.gz
